<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Web Wayang Tales for you">
  <link rel="icon" href="./favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Wayang Tales</title>
</head>
<body>
  <header id="appBar" class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1><img src="./logo.png" alt=""></h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation"></nav>
  </header>
  
  <main id="mainContent"></main>
  <!-- footer -->
  <section>
    <footer id="appFooter" class="text-white text-center text-md-start">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h1><img src="./logo.png" alt="" srcset=""></h1>
            <p class="text-white small">Wayang Tales</p>
          </div>
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Project</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white small">Beranda</a>
              </li>
              <li>
                <a href="#!" class="text-white small">Sejarah</a>
              </li>
              <li>
                <a href="#!" class="text-white small">Pesan Tiket</a>
              </li>
              <li>
                <a href="#!" class="text-white small">Tentang Kita</a>
              </li>
              <li>
                <a href="#!" class="text-white small">Login</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Alamat</h5>
            <p class="text-white small">Jln. Thamrin Simpang Plaza, Sumatera Utara, Indonesia</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Media Sosial</h5>
            <ul class="list-unstyled d-flex justify-content-center">
              <li class="me-3">
                <a href="https://www.google.com" class="text-white small"><i class="fab fa-google"></i></a>
              </li>
              <li class="me-3">
                <a href="https://www.facebook.com" class="text-white small"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="me-3">
                <a href="https://www.instagram.com" class="text-white small"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="me-3">
                <a href="https://www.youtube.com" class="text-white small"><i class="fab fa-youtube"></i></a>
              </li>
              <li class="me-3">
                <a href="https://www.linkedin.com" class="text-white small"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </section>
</body>
</html>
